node_modules/
node_modules/electron/dist/Electron.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Electron Framework
node_modules/whatsapp-web.js/node_modules/puppeteer/.local-chromium/mac-982053/chrome-mac/Chromium.app/Contents/Frameworks/Chromium Framework.framework/Versions/101.0.4950.0/Chromium Framework